* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sanse-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 1024px;
  margin: 20px auto;
}

h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weigth: 600;
  line-height: 1.25;
}  

a {
  text-decoration: none;
  color: rgb(4, 0, 255);
}

.personal {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
